# OS
.DS_Store/

# IDE
.vscode/
.vs/
.idea/
*.iml
*.log
*.txt

# Rust
target/
.cargo/config.toml

# Node
node_modules/
distribution/
coverage/
package-lock.json
pnpm-lock.yaml
yarn.lock
yarn-error.log
projects/crates/pandark-napi/index.js
projects/crates/pandark-napi/index.d.ts
projects/packages/pandark-*/lib/
*.node
*.wasm
